{% extends "base.html" %}
{% block titulo %} update {% endblock %}
{% block style %} <link rel="stylesheet" href="/static/css/forms.css"> {% endblock %}

{% block content %}   
    <div id="Eformulario" class="container-fluid">
        <div class="alert" role="alert" style="text-align: center; margin-top: 30px; font-size: 50px; background-color: #79AC78;">
            <strong>ACTUALIZAR RESERVA</strong>
        </div>
        <form id="formulario" method="post">{% csrf_token %}
            {{formulario.as_table}}
            <div id="crear">
                <a id="cancelar" href="{% url 'listado'%}" type="button" class="btn btn-danger" style="font-size: 20px;">Cancelar <i class="bi bi-clipboard-x"></i></a>
                <input type="submit" class="btn btn-primary" value="Editar" style="font-size: 20px;">
            </div>
        </form>
        <p class="Campos_Faltantes" id="faltante"></p>
    </div> 
{% endblock %}